.details-container {
    text-align: center;
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
    font-family: sans-serif;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  }
  
  .details-container img {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .details-container h3 {
    margin-top: 10px;
    font-size: 24px;
  }
  